.main-container {
  #vnu-gallery {
    .large-12 {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      top: -80px;
    }
  }
  #vnu-gallery.page-gallery {
    margin-top: 50px;
  }
  #vnu-gallery-show {
    margin-bottom: 20px;
    .main-content {
      position: relative;
      .photo {
        width: 100%;
      }

      .content-block {
        left: 75%;
        margin-left: -15px;
        position: absolute;
        height: 100%;
        border: 1px solid #e7e7e7;
        .fb-like {
          width: 100%;
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .main-container {
    #vnu-gallery-show {
      .main-content {
        .content-block {
          position: relative;
          left: 0px;
          margin-left: 15px;
          margin-right: 15px;
          padding-bottom: 15px;
          right: 0px;
        }
      }
    }
  }
}